<h1>¡Create a new account!</h1>

<div id="form">
  <form action="/auth/signup" method="POST">
 
    <label>Name</label>
      <input type="text" name="name" placeholder="johndoe" />
 
    <label>Email</label>
      <input type="email" name="email" placeholder="john@doe.com" />

    <label>Age</label>
      <input type="number" name="age" placeholder="23" />
    
    <label>Password</label>
      <input type="password" name="password" placeholder="********" />

    {{#if error}}
    <p style="color:rgb(218, 90, 90)">{{ error }}</p>
    {{/if}}
 
    <button type="submit">Create account</button>

 
 
  </form>
</div>