<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <title>🔮 Mistery app</title>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Register</a></li>
      <form method="POST" action="/auth/logout"><button type="submit">Log out</button></form>
    </ul>
  </nav>

  <div class="container">
    {{{ body }}}
  </div>

 
</body>
</html>